$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover{
    color: #fff;
    text-decoration: none;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('Ruby_On_Rails_Logo.svg-1024x386.png');
    background-size: cover;
    height: 550px;
}

.jumbotron h1{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge{
    font-size: 1.7em;
    background-color: black;
}

.article-meta-detail{
    margin-top:15px;
    border-top: 1px solid #eaeaea;
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description{
    margin-top: 0;
}

.article_title{
    font-size: 1.5em;
    font-weight: bold;
}

.article_body{
    border-top: 1px solid #eaeaea;
    padding-bottom: 1px;
    padding-top: 15px;
}
.footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

.badge{
    background_color: #CEF6F5;
    text_transform: upppercase;
    letter_spacing:-1px;
    font_weight: bold;
}

.input_checkbox input{
    width: auto: important;
}
 
footer a:hover{
    color: #222;
}

footer small{
    float: left;
}

footer ul{
    floaat: right;
    list-style: none;
}

footer ul li {
    floaat: left;
    margin-left: 15px;
}
